.mobile-footer{
    background-color: black;
    height: 8rem;
    display: none;
    color: white;
    text-align: center;
    font-size: 24px;
    padding-top: 3rem;
    margin-top: 35%;
}
@media (max-width:750px) {
    .mobile-footer{
        display: block;

    }
    
}