.navbar{
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-weight: 400;

    .nav-content{
        margin-left: 20%;
    }
    .nav-toggle{
        cursor: pointer;
        display: none;
        margin-left: 30px;
        font-size:44px;
        transform: translateY(-4px);
    }

    .nav-link{        
        a {
            color: white ;
            text-decoration: none;
            font-weight: 300;
        }
        a{
            cursor: pointer;
        }
        
        a:hover{
            color: rgb(159, 159, 159);
        }
    
        a:active{
            color: rgb(128, 127, 127);
        }
    }
    ul{
        gap: 30px;
        display: flex;
        list-style-type: none;
    }

    @media (max-width:790px) {
        .nav-toggle{
            display: block;
        }
        .nav-title{
            margin-left: 20px;
        }
        .nav-content{
            display: none;
        }
       
    }
    
}