.game {
    transition-duration: 2s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .game-board {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .board-row {
    display: flex;
  }
  
  .square {
    width: 200px;
    height: 200px;
    background: #ffffff5c;
    border: 1px solid #000000;
    border-radius: 5%;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
      .square:focus {
      outline: none;
      }
  }
  
  .square.x-turn:hover {
    border: 2px solid rgb(47, 92, 255);
  }
  
  .square.o-turn:hover {
    border: 2px solid red;
  }
  
  .game-info {
    margin-top: 20px;
  }
  .reset {
    background-color: red;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  
  @keyframes rainbow {
    0% { background-color: red; }
    14% { background-color: orange; }
    28% { background-color: yellow; }
    42% { background-color: green; }
    57% { background-color: blue; }
    71% { background-color: indigo; }
    85% { background-color: violet; }
    100% { background-color: red; }
  }
  
  .rainbow-background {
    animation: rainbow 4s;
  }
  
  .bigger-text{
    font-size: 48px;
    transition: ease;
    transition-duration: 4s;
  }
  .scoreboard {
    display: flex;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.349);
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
  }
  .starting-player{
    margin: 20px;
  }
  
  @media (max-width:620px) {
    .square{
      width: 150px;
      height: 150px;
    }
  }
  
  @media (max-width:475px) {
    .square{
      width: 90px;
      height: 90px;
    }
  }