.footer{
    margin-top: 10rem;
    display: flex;
    background-color: black;
    color: rgb(192, 192, 192);
    padding: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    

    .left-section{
        display: list-item;
        list-style-type: none;
        max-width: 600px;
        margin-right: 20%;    
    }

    .socials{
        margin-top: 10px;
        display: flex;
        gap: 10px;
    }
}
@media (max-width:750px) {
    .footer{
        display: none;
    }
}